* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
  padding: 1rem 2rem;
  overflow-x: hidden;
}

nav .logo .logo-img {
  height: 50px;
  width: 80px;
}

nav .menu a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.fa-bell {
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 16px hsl(0deg 0% 75% / 25%);
}
nav .profile i:nth-child(-n + 2) {
  margin: 0 5px;
}

nav .profile i {
  cursor: pointer;
}
nav .sidebar {
  min-height: 500px;
  width: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  text-align: center;
  background-color: rgb(210, 192, 192);
  /* transform: translateX(100%); */
  transition: width 0.4s;
}

.active-sidebar {
  width: 500px !important;
}
nav .sidebar ul li {
  list-style: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

nav .sidebar #closeSidebar {
  font-size: 20px;

  z-index: 20;
  padding: 0 20px;
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
}

@media screen and (max-width: 1200px) {
  nav .menu {
    display: none;
  }
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 400px;
  z-index: -10;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  opacity: 1;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
@media screen and (max-width: 700px) {
  .carousel,
  .carousel img {
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .carousel,
  .carousel img {
    height: 200px;
  }
}

.carousel img.active {
  opacity: 1;
  transform: translateX(0);
}

.course-tab a {
  text-decoration: none;
  color: black;
  margin-top: 1rem;
}
.courses {
  margin: 1rem;
}
.course-tab a.activecourse {
  border-bottom: 4px solid red;
}
.course-tab a {
  margin-right: 1rem;
}

.courses .course-tab .course-buttons .explore {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 4px 7px;
  margin: 0 5px;
  cursor: pointer;
}
.courses .course-tab .course-buttons i {
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0 5px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .courses .course-links {
    display: flex;
    flex-direction: column;
  }
}
.course-items .card {
  width: 250px;
  box-shadow: 0 4px 16px hsl(0deg 0% 75% / 25%);
  border-radius: 5px;
  margin-top: 1rem;
  margin-right: 10px;
  margin-bottom: 10px;
}
.course-items .card h4 {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.professionals {
  font-size: 10px;
  color: grey;
}
.course-items .content {
  padding: 1rem;
}
.content .icon {
  margin: 5px 0;
}

.course-items .content button {
  padding: 4px 7px;
  background-color: #ff9494;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}
.course-items {
  overflow-x: scroll;
  will-change: scroll-position;
  transition: all 0.4s ease-in;
  scroll-behavior: smooth;
}

.course-items::-webkit-scrollbar {
  display: none;
}
.features-section {
  padding: 2rem;
}

.feature-card-container .arrow img {
  width: 50px;
}
.feature-card-container .feature-card {
  width: 200px;
  text-align: center;
  padding: 4rem 2rem;
  text-align: center;
}

.feature-card-container .feature-card .feature-icon i {
  background-color: black;
  border-radius: 50%;
  padding: 1rem;
  color: rgb(29, 201, 29);
  font-size: 30px;
}

.feature-card .feature-box {
  margin: 2rem 0;
}

.coursedetails {
  background-color: #3882809a;
  min-height: 450px;
  padding: 2rem;
}

.coursedetails .detailsintro {
  max-width: 700px;
  font-size: 19px;
}

.coursedetails .detailsintro h3 {
  padding-bottom: 1rem;
}

.coursedetails .detailsintro p {
  max-width: auto;
}
.coursedetails .courses .card {
  width: auto;
  margin: 1rem;
  background-color: #388280;
  border-radius: 7px;
  padding: 0.5rem 1rem 0.5rem 0.5rem;

  color: white;
  -webkit-box-shadow: -4px 7px 30px -7px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -4px 7px 30px -7px rgba(0, 0, 0, 0.44);
  box-shadow: -4px 7px 30px -7px rgba(0, 0, 0, 0.44);
}
.courses .card i {
  margin: 10px;
}
.courses .card {
}
.coursedetails .courses {
  flex-wrap: wrap;
}

.coursedetails .sessionsbutton {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: bold;
}

.mentors {
  padding: 2rem;
}
.mentors .mentorsintro .content-box {
  width: 700px;
}
.mentors .mentors-list {
  width: 200px;
  box-shadow: 0px 8px 20px rgba(15, 17, 19, 0.04);
}
.mentors .mentors-list img {
  width: 150px;
  height: 200px;
}
.mentors .mentors-list p {
  font-size: 15px;
}

.mentors .mentors-list {
  padding: 1rem;
  border-radius: 15px;
  margin: 1rem;
}

.mentors .mentors-lists-container {
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.student .studentintro .second {
  color: #ff725e;
}
.student {
  padding: 2rem;
}
.getsession {
  height: 300px;
  width: 100vw;
}
.getsession img {
  height: 100%;
  width: 100%;
}

.student .studentcards {
  min-width: 300px;
  background-color: #c9c9c973;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 10px;
  margin: 1rem;
}

.student .studentcards .company {
  width: 70px;
  height: 30px;
}

.student .studentcards .user {
  position: absolute;
  top: -80px;
}

.student .studentcard-container {
  padding-top: 7rem;
  width: auto;
  overflow-x: scroll;
  will-change: scroll-position;
}

.student .studentcard-container::-webkit-scrollbar {
  display: none;
}
.question-section {
  padding: 1rem;
}
.question-section .question {
  width: 100%;
  /* min-height: 60px; */
  /* border: 1px solid black; */
  font-size: 20px;

  transition: all 0.3s;
  cursor: pointer;
}

.question-section .box i {
}

.question-section .box .content {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s;
}

.question-section .box .active {
  transition: max-height 0.9s;
  max-height: 100vh;
}
.question-section .box {
  margin: 1rem 1rem 1rem 0;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 7px;
}

footer {
  min-height: 400px;
  background-color: black;
  padding: 4rem;
  color: rgba(255, 255, 255, 0.79);
}

footer .links .contact .mentor {
  font-weight: bold;
}

footer .links .contact .kart {
  color: #ff7070;
  font-weight: lighter;
}

footer .links .contact .email {
  padding: 1rem 0;
}

footer .links .contact .mobile {
  padding: 1rem 0;
}

footer .links .contact .social {
  padding: 1rem 0;
}

footer .links .contact .social img {
  padding-right: 10px;
}

footer .links .division ul li {
  list-style: none;
  padding: 0.5rem 0;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
}

footer .links .services .division-links {
  padding: 1rem 0;
}

footer a {
  text-decoration: none;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.823);
  margin-right: 2rem;
}

@media screen and (max-width: 1000px) {
  .feature-card-container {
    flex-direction: column;
  }
  .feature-box {
    flex-direction: column;
  }

  .feature-box .arrow img {
    transform: rotate(90deg);
  }

  .feature-card-container .feature-card {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  footer .links {
    flex-direction: column;
    align-items: center;
  }
  .division {
    margin: 1rem 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
